/*
Colors

Green : #00a64e (text)
Black : #000000 (text)
Grey  : #f1f1f1 (background)

*/

body {
    background-color: #f1f1f1;
}

.btn-green {
    background-color: #00a64e;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: 50px auto;
    cursor: pointer;
}

.btn-green:hover {
    background-color: #f1f1f1;
    color: #00a64e;
    border: 2px solid #00a64e;
    font-weight: bold;
    display: block;
    margin: 50px auto;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    justify-content: center;
}